[submodule "references/hello-claw"]
	path = references/hello-claw
	url = https://github.com/datawhalechina/hello-claw.git
[submodule "references/deeptutor"]
	path = references/deeptutor
	url = https://github.com/HKUDS/DeepTutor.git
